<div class="item_club">
  <div class="join-cancel-toggle-container">
    <%= render "user_clubs/join_cancel_toggle" %>
  </div>
  <% if !current_user.user_clubs.of_club(@club).nil? && current_user.user_clubs.of_club(@club).joined? %>
    <div class="btn btn-control more">
      <button type="button" class="btn btn-breez btn-leave btn-sm"><%= t("joined") %>
      </button>
      <ul class="more-dropdown more-with-triangle triangle-bottom-right">
        <li>
          <%= link_to user_club_path(club_id: @club.id), method: :delete,
            data: {confirm: t("answer_leave")} do %>
            <%= t("leave_club") %>
            <i class="fa fa-share-square-o" aria-hidden="true"></i>
          <% end %>
        </li>
      </ul>
    </div>
  <% end %>
</div>
