<section class="site-section site-section-light site-section-top
  theme themed-background-dark">
  <div class="container">
    <h1 class="text-center animation-slideDown"><i class="fa fa-envelope"></i> <strong><%= t "contact_us" %></strong></h1>
  </div>
</section>
