<table id="example-datatable"
  class="table table-vcenter table-condensed table-bordered dataTable no-footer datatable">
  <thead>
    <tr role="row">
      <th><i class="fa fa-user-circle"></i></th>
      <th>Name</th>
      <th>Email</th>
      <th>Add</th>
    </tr>
  </thead>
<tbody>
  <% users.each do |user|  %>
    <tr>
      <td><%= image_tag user.avatar, class: "img-responsive img-user-budgets" %></td>
      <td><%= user.full_name %></td>
      <td><%= user.email %></td>
      <td><input type="submit" value="add" class="btn btn-info"></td>
    </tr>
  <% end %>
</tbody>
</table>
<hr>

<script type="text/javascript">
  $(document).ready(function(){
    $(".datatable").dataTable();
} );
</script>
