<%= link_to user_club_path(id: 1, club_id: @club.id),
  method: :delete, remote: true, class: "join-club-button btn btn-breez btn-sm",
  title: t("cancel") do %>
  <span class="animation-fadeIn360">
    <%= t "cancel" %>
    <i class="fa fa-times-circle" aria-hidden="true"></i>
  </span>
<% end %>
<%= content_tag(:i, nil, class: "gi gi-lock", title: t("wait_process_club")) %>
