<%= form_for UserClub.new, remote: true do |f| %>
  <%= f.hidden_field :club_id, value: @club.id %>
<% end %>
<%= link_to "javascript:void(0)", class: "join-club-button" do %>
  <span class="site-top-avatar pull-right join-button animation-fadeIn360">
    <%= t "join" %>
  </span>
<% end %>
