<% if @clubs.any? %>
  $("#list-club-search").html('<%= j render "clubs/clubs", collection: @clubs %>');
<% else %>
  $('#list-club-search').html('<h6 class="notifi-join text-center"><%= t "no_data" %></h6>');
<% end %>
