<div class="col-sm-5">
  <div class="block full">
    <div class="block-title">
      <h2><%= t "time_single" %> <strong><%= t "tree" %></strong></h2>
    </div>
    <div class="timeline block-content-full">
      <ul class="timeline-list timeline-hover time-tree load-more">
        <% @clubs.each do |club| %>
          <% club.activities.each do |activity| %>
              <li>
                <div class="timeline-icon"><i class="fa fa-clock-o"></i></div>
                <div class="timeline-content">
                  <p class="push-bit">
                    <strong>
                      <%= link_to activity.created_at, "javascript:void(0)" %>
                    </strong>
                  </p>
                </div>
              </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
  <span class="media text-center">
    <a href="javascript:void(0)" class="btn btn-xs btn-default push load-more-toggle" id="time-tree"><%= t "load_more" %></a>
  </span>
</div>
