<div class="col-sm-7">
  <div class="block">
    <div class="block-title"><h2><strong><%= t "time" %></strong> <%= t "line" %></h2></div>
    <div class="block-content-full">
      <ul class="media-list media-feed media-feed-hover need load-more">
        <%= render "time_line_homes/time_line_item" %>
      </ul>
      <span class="media text-center">
        <a href="javascript:void(0)"
          class="btn btn-xs btn-default push load-more-toggle"
          id="need"><%= t "view_more" %>
        </a>
      </span>
    </div>
  </div>
</div>
