<%= render "home/header" %>
<section class="site-content">
  <div class="space"></div>
  <div class="row">
    <div class="col-md-10 col-md-offset-2">
      <%= render "time_line" %>
      <%= render "club_tree" %>
    </div>
  </div>
</section>
