<div class="row text-center">
  <% @club.users.newest.take(Settings.club_member).each do |user_club|  %>
    <% if status_user_club(user_club, @club) %>
      <div class="col-sm-4">
        <%= link_to dashboard_club_member_path(id: user_club.id, club_id: @club.id) do %>
          <%= image_tag user_club.avatar, class: "circle-profile-list" %>
        <% end %>
        <h4><%= user_club.full_name %></h4>
      </div>
    <% end %>
  <% end %>
</div>
<% if @club.users.size > Settings.club_member %>
  <div class="text-center">
    <%= link_to t("view_more"), dashboard_club_members_path(club_id: @club.id) %>
  </div><br>
<% end %>
