 <div class="block">
  <div class="block-title">
    <h2><strong><%= t "club_manager.event.joined" %></strong></h2>
  </div>
  <div class="row text-center">
    <% @event.users.each do |user_event| %>
      <div class="col-sm-4">
        <a href="javascript:void(0)">
          <%= image_tag user_event.avatar %>
        </a>
        <h4><%= user_event.full_name %></h4>
      </div>
    <% end %>
  </div>
  <% if @event.users.size > Settings.event_user  %>
    <div class="text-center">
      <%= link_to t "view_more", t("do_nothing") %>
    </div>
  <% end %>
</div>
