<%= javascript_include_tag "jquery.range", "data-turbolinks-track": true  %>
<%= stylesheet_link_tag "jquery.range", media: "all", "data-turbolinks-track": "reload" %>
<input class="range-slider-demo slider slider-vertical" type="hidden" value="5"/>
<div id="slider-range"></div>
<div class="c-form-control-rating__stars col-md-12">
  <div class="c-form-control-rating__star-group col-md-2 col-xs-2">
  </div>
  <div class="c-form-control-rating__star-group col-md-2 col-xs-2">
    <div class="c-form-control-rating__star c-form-control-rating__star_active">
    </div>
  </div>
  <div class="c-form-control-rating__star-group col-md-2 col-xs-2 col-sm-2">
    <div class="c-form-control-rating__star c-form-control-rating__star_active">
    </div>
    <div class="c-form-control-rating__star c-form-control-rating__star_active">
    </div>
  </div>
  <div class="c-form-control-rating__star-group col-md-2 col-xs-2 col-sm-2">
    <div class="c-form-control-rating__star c-form-control-rating__star_active">
    </div>
    <div class="c-form-control-rating__star c-form-control-rating__star_active">
    </div>
    <div class="c-form-control-rating__star c-form-control-rating__star_active">
    </div>
  </div>
  <div class="c-form-control-rating__star-group col-md-2 col-xs-2 col-sm-2">
    <div class="c-form-control-rating__star c-form-control-rating__star_active">
    </div>
    <div class="c-form-control-rating__star c-form-control-rating__star_active">
    </div>
    <div class="c-form-control-rating__star c-form-control-rating__star_active">
    </div>
    <div class="c-form-control-rating__star c-form-control-rating__star_active">
    </div>
  </div>
  <div class="c-form-control-rating__star-group col-md-2 col-xs-2 col-sm-2">
    <div class="c-form-control-rating__star c-form-control-rating__star_active">
    </div>
    <div class="c-form-control-rating__star c-form-control-rating__star_active">
    </div>
    <div class="c-form-control-rating__star c-form-control-rating__star_active">
    </div>
    <div class="c-form-control-rating__star c-form-control-rating__star_active">
    </div>
    <div class="c-form-control-rating__star c-form-control-rating__star_active">
    </div>
  </div>
</div>
