<div class="modal-dialog">
  <div class="modal-content">
    <div>
    </div>
    <div class="modal-body">
      <% @members.each do |user_event| %>
        <div class="col-md-2 col-sm-2 col-xs-3">
          <%= link_to user_path(id: user_event.id) do %>
            <%= image_tag user_event.avatar,
              class: "circle-profile-list",
              title: user_event.full_name %>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">
        <%= t "close" %></button>
    </div>
  </div>
</div>
