<% if current_user.user_clubs.joined.of_club(@club) %>
  <% if @events.any? %>
    <%= render partial: "events/view_list_event", locals: {events: @events} %>
  <% else %>
    <h5 class="notifi-join text-center"><%= t "no_event" %></h5>
  <% end %>
<% else %>
  <h5 class="notifi-join text-center"><%= t "join_to_see" %></h5>
<% end %>
