<% if current_user.user_clubs.joined.of_club(@club) %>
  <% if @events.any? %>
    <%= render partial: "events/view_list_event", locals: {events: @events} %>
  <% else %>
    <h3 class="notifi-join"><%= t "no_event" %></h3>
  <% end %>
<% else %>
  <h3 class="notifi-join"><%= t "join_to_see" %></h1>
<% end %>
