<section class="site-content site-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-md-9">
        <h1><%= t "events" %></h1>
        <hr>
        <div class="site-block"></div>
        <%= render partial: "events/event", locals: {event: @events} %>
      </div>
      <div class="col-sm-4 col-md-3">
        <aside class="sidebar site-block">
          <div class="sidebar-block">
            <form action="blog.html" method="post" onsubmit="return false;">
              <div class="input-group">
                <input type="text" id="search-term" name="searh-term" class="form-control" placeholder="Search..">
                <div class="input-group-btn">
                  <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
                </div>
              </div>
            </form>
          </div>
          <%= render "events/nav_events" %>
          <%= render "events/time_line" %>
        </aside>
      </div>
    </div>
  </div>
</section>
