<div class="row">
  <div class="col-md-6">
    <div class="">
      <div class="row">
        <%= render partial: "list_done_budget" %>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="">
      <div class="row">
        <%= render partial: "list_yet_budget" %>
      </div>
    </div>
  </div>
</div>
