$('.budgets-club').val('<%= @club.id %>');
$('.budgets-club-details').html(
'<%= j render partial: "club_details", locals: {club: @club} %>');
$('.budgets-members').html(
  '<%= j render partial: "club_manager/budgets/members", locals: {users: @users} %>');
$(".add-member").click(function(){
  var id = $(this).attr('id');
  var fname = $(this).attr('data-name');
  var btn = $('<button class="btn btn-danger budgeted" id="'+
    id +'" onclick="removeBudget($(this));">'+ fname +' <i class="fa fa-times"></i></button>');
  $(".members-budgeted").append(btn);
  $(".data-"+$(this).attr('id')).hide();
  $(".budgeted-tag").addTag(id);
});
