.alert-alert {
  color: #e74c3c;
  background-color: #ffd1cc;
  border-color: #ffb8b0;
}
.alert-notice {
  color: #27ae60;
  background-color: #daf2e4;
  border-color: #b8e5cb;
}
.image-full {
  height: 200px !important;
  width: auto !important;
}
.album-full {
  height: 270px !important;
  width: auto !important;
}
.border {
  border: solid;
  border-width: thin;
}
.img-header {
  width: 100%;
}
