.notification-un_read {
  background-color: cyan;
}

.notification-readed {
  background-color: white;
}

.hide-notification {
  cursor: pointer;
}

.notify-content {
  padding: 2px;
}

.notify-content span {
  font-size: 90%;
  font: Roboto;
}

.notification_li {
  position: relative;
  z-index: 2000;
  color: #3b3b3b;
}
.notification_li strong {
  color: orange;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.notification_li strong:hover {
  color: orangered;
}

.notificationContainer {
  background-color: #fff;
  border: 1px solid rgba(100, 100, 100, .4);
  -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
  overflow: visible;
  position: absolute;
  top: 30px;
  margin-left: -170px;
  width: 400px;
  display: none;
}

.notificationContainer:before {
  content: '';
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  color: transparent;
  border: 10px solid black;
  border-color: transparent transparent white;
  margin-top: -20px;
  margin-left: 188px;
}

.notificationTitle {
  z-index: 1000;
  font-weight: bold;
  padding: 8px;
  font-size: 13px;
  background-color: #ffffff;
  width: 384px;
  border-bottom: 1px solid #dddddd;
  color: #3b3b3b;
}

.notificationsBody {
  padding: 0px 0px 2px 0px !important;
}

.notifyBody{
  min-height: 75px;
  cursor: pointer;
}

.bot-border {
  border-bottom: 1px solid #dddddd;
}

.notifyBody:hover {
  background-color: #dae8f2;
}
.notification_count {
  padding: 3px 5px 3px 5px;
  background: white;
  color: #3b3b3b;
  font-weight: bold;
  margin-left: 15px;
  border-radius: 5px;
  position: absolute;
  margin-top: -10px;
  font-size: 10px;
}
