/*----- Notification--------*/
.notification_custom{
  overflow-y: scroll !important;
  .notification-list{
    .custom_notifications{
      padding: 0;
      .notifyBody{
        padding: 25px;
        .author-thumb{
          float: left;
          margin-right: 10px;
        }
        .notification-event{
          width: auto;
        }
      }
      .notifyBody.notification-un_read{
        background-color: $body-bg;
      }
    }
  }
}

/*------------Responsive--------------*/
.header-responsive{
  .tab-content{
    .notification-list{
      li{
        .author-thumb{
          max-width: 50px;
          img{
            width: 100%;
          }
        }
      }
    }
  }
}

.fixed-sidebar{
  .logo{
    img{
      max-width: 50px;
    }
  }
  .mCustomScrollbar{
    overflow-y: scroll;
  }
}

/*-------------Fix media---------------*/
        //-------menu-----------//
@media (max-width: 1180px){
  .menu_sign_in ul li a{
    padding: 10px 15px;
  }
}
@media (max-width: 1040px){
  .menu_sign_in ul li a{
    padding: 10px 10px;
  }
}

@media (max-width: 991px){
  .header, .fixed-sidebar{
    display: none;
  }
  .header-responsive, .fixed-sidebar.fixed-sidebar-responsive{
    display: block;
  }
}

/*--------------Organization detail--------------*/

.img_small{
  img{
    max-width: 60px;
    width: 100%;
    height: auto;
  }
}
.w-search.custom_medium{
  width: auto;
}
.select_custom.form-control{
  color: #313235;
  background-color: transparent;
  padding:5px;
  border: 1px solid #e6ecf5;
  border-radius: 0.25rem;
  margin: 0 0 3px 0;
  font-size: 13px;
}
.filter_custom{
  .slider-container{
    margin-left: 0;
  }
}

.custom_flex{
  display: flex;
  align-items: flex-end;
  justify-content: center;
  .item_club{
    width: 100%;
  }
}

.tab_detail_club{
  .ui-block{
    .content_tab{
      padding: 30px 20px;
    }
  }
}
.full_image{
  width: 100%;
  margin-bottom: 20px;
}
.private-event{
  padding: 15px;
}
.title_custom{
  text-align: center;
  padding-top: 20px;
}
.radio_custom label{
  margin-right: 20px;
}
/*------------- User page -----------*/
.tab_my_account{
  li{
    display: inline-block;
    padding: 5px 10px;
    a{
      font-size: 14px;
      font-weight: 700;
      color: #9a9fbf;
      display: block;
    }
    a.active{
      color: #515365;
    }
  }
}

.drop_form{
  li{
    padding: 5px 10px;
  }
}

/*------------chatbox-------------*/
.icon_chat{
  position:fixed;
  bottom: 20px;
  right: 0;
  z-index: 10;
  font-size: 60px;
  color: $breez;
}
.custom_chatbox{
  background-color: #fff;
  position: fixed;
  right: 0;
  z-index: 999;
  bottom: 0;
  display: none;
  margin-bottom: 0;
  .ui-block-title{
    background-color:$breez;
    .icon-status{
      font-size: 20px;
      position: absolute;
      right: 12px;
      color: #fff;
      cursor: pointer;
    }
  }
  .content-chat{
    .custom_content_chat{
      background-color: #fff;
      overflow-y: scroll;
      min-height: 150px;
      .chat-message{
        li{
          .avatar{
            img{
              width: 30px;
            }
          }
          .notification-event{
            .chat-message-item{
              display: block;
              float: none;
              .notification-date{
                float: none;
                text-align: right;
              }
            }
            .notification-date{
              float: none;
              text-align: right;
            }
          }
        }
        li:nth-child(2n){
          .author-thumb{
            float: none;
          }
          .notification-event{
            float: none;
            .chat-message-item{
              float: none;
              background-color: #f0f4f9;
              color: #888da8;
            }
          }
        }
      }
    }
    form.row-chat{
      .form-group.label-floating{
        width: 100%;
        .add-options-message{
          .options-message{
            border: 0;
            padding: 0;
          }
        }
      }
    }
  }
  .load-more-message{
    color: #7c5ac2;
  }
}

/*------------- Custom popup budget page -------------*/

.custom_budget_popup{
  .ui-block{
    .table-responsive{
      .dataTables_wrapper{
        .dataTables_length{
          float: left;
          padding: 10px;
          label{
            select{
              padding: 10px 15px;
              margin-top: 5px
            }
          }
        }
        .dataTables_filter{
          float: right;
          padding: 10px;
          input{
            padding: 10px 15px;
            display: block;
            margin-top: 5px;
          }
        }
        .dataTables_info{
          padding-left: 10px;
        }
        .dataTables_paginate{
          padding: 10px;
          text-align: center;
          a{
            padding: 5px;
          }
        }
      }
    }
  }
}

/*---------- Custom default themes---------*/

.header-spacer_custom{
  height: 85px;
}

.top-header-thumb{
  max-height: 350px;
  display: block;
  overflow: hidden;
}
//----------box item-------//
.friend-item{
  .friend-header-thumb{

  }
  .friend-item-content{
    padding: 0 20px 20px 20px;
    .friend-avatar{
      margin: 20px 0;
      .author-content{
        .author-name{
          display: block;
        }
        .detail_item{
          display: inline-block;
          .rating_club{
            padding: 10px 0;
            text-align: left;
            strong{
              padding-right: 5px;
            }
          }
          .country{
            text-align: left;
            strong{
              padding-right: 5px;
            }
          }
        }
      }
    }
    .swiper-container{
      padding-bottom: 20px;
    }
    .swiper-container.cutom_hard_height{
      height: 65px;
      overflow: hidden;
    }
  }
}

.rating-container{
  >div{
    p.h5{
      color: #fff;
      font-size: 13px;
    }
  }
}

/*-------edit form comment-----*/
.cutom_edit_form{
  input{
    padding: 10px 15px;
    background: #fff;
  }
  p{
    font-size: 12px;
    padding-left: 15px;
    font-style: italic;
  }
}

/*-------- pagination ----------*/
.pagination{
  margin: 20px 0;
  justify-content: center;
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: 0.25rem;
  li{
    font-size: 12px;
    font-weight: 700;
    padding: 0 4px;
    a{
      position: relative;
      display: block;
      padding: 0.9rem 1.2rem;
      margin-left: -1px;
      line-height: 1.25;
      color: #515365;
      background-color: #fff;
      border: 1px solid #e6ecf5;
      border-radius: 5px;
      &:hover{
        color: #fff;
        text-decoration: none;
        background-color: #ff5e3a;
        border-color: #ff5e3a;
      }
    }
    &.active{
      a{
        color: #fff;
        text-decoration: none;
        background-color: #ff5e3a;
        border-color: #ff5e3a;
      }
    }
  }
}

/*------------Custom landing page -------*/

.custom_landing.landing-page{
  &:before{
    background-color: rgba(8, 184, 127, 0.96);
  }
  .registration-login-form{
    .nav-tabs{
      .nav-link.active{
        fill: #08ddc1;
        background-color: #00FFF6;
      }
    }
    .tab-content{
      form{
        .btn{
          cursor: pointer;
        }
        .btn-purple{
          background-color: #08ddc1;
          &:hover{
            background-color: #ff3407;
          }
        }
      }
    }
  }
  .btn-purple{
    background-color: #08ddc1;
  }
}
body{
  color: $body-font-color;
}
.ui-block-title.ui-block-title-small{
  .title{
    font-size: 12px;
    color: $body-font-color;
  }
}
.ui-block.pading_10{
  padding: 20px;
}
.group-btn {
  margin-bottom: -120px!important;
}
.btn-leave {
  margin-bottom:10px;
}
.span-date {
  padding-top: 14px;
}
#budget-filter {
  margin-top: 10px;
}
.section-top {
  margin-top: 100px;
}
.icon-event {
  color: red;
  font-size: 16px;
}
.login-with-framgia {
  margin: 20px 0;
}
.btn-login {
  width: 100%;
  height: 50px;
  color: white;
  background-color: #f55c2b;
  border: none;
  box-shadow: 1px 2px 1px grey;
}
.btn-login .icon {
  display: inline-block;
  float: left;
  width: 40px;
  margin-top: -12px;
}
.btn-login {
  display: inline-block;
  padding: 16px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
}
.btn-suggest {
  margin-bottom: 0px;
}
.btn-log {
  background-color: #00B6FF;
}
.fa-star:before {
  color: yellow;
  font-size: 13px;
  float: right;
  margin-left: 6px;
}
.member-club-view {
  width: 42px;
  height: 42px;
  border-radius: 42px;
}
.view-member {
  padding: 0px 10px;
}
.member-club-view-more {
  width: 30px;
  height: 30px;
  border-radius: 30px;
  background-color: red;
  margin-top: 9px;
}
.view-icon-memeber {
  margin-left: -10px;
}
.logo_sigin img {
  height: 40px;
}
.logo-page {
  height: 100px;
}
.half-width {
  width: 50%;
  left: 25%;
}
.fa-cog {
  font-size: 18px;
}
.tab_list_detail_club li {
  background-color: #FB5D39;
  padding: 7px;
}
.tab_list_detail_club li a {
  font-size: 13px;
  color: white;
}
.tab_list_detail_club li .active {
  color: black;
}
.menu_sign_in .active a {
  color: #ad2e3e;
}
