.pagination a {
  color: #1bbáe;
  margin-left: 5px;
  margin-right: 5px;
  border: none;
  border-radius: 25px;
}

.pagination .current {
  font-style: normal;
}

.club-logo {
  width: 50px;
}

.form-modal {
  margin-right: 70px;
}
.widget-organization {
  width: 100%;
}

.space{
  height: 84px;
}

.timeline {
  position: relative;
}

.timeline-header {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
  padding: 0 15px;
  min-height: 60px;
  line-height: 60px;
  background-color: #ffffff;
  border-bottom: 2px solid #f0f0f0;
  z-index: 500;
}

.timeline-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.timeline-list:after {
  position: absolute;
  display: block;
  width: 2px;
  top: 0;
  left: 15px;
  bottom: 0;
  content: "";
  background-color: #f0f0f0;
  z-index: 1;
}

.timeline-header .timeline-list:after {
  top: 60px;
}

.timeline-list li {
  position: relative;
  margin: 0;
  padding: 15px 0;
}

.timeline-list.timeline-hover li:hover {
  background-color: #f9f9f9;
}

.timeline-list .timeline-icon {
  position: absolute;
  left: 0px;
  top: 10px;
  width: 30px;
  height: 30px;
  line-height: 28px;
  font-size: 14px;
  text-align: center;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 15px;
  z-index: 500;
}

.timeline-list .active .timeline-icon {
  background-color: #1bbáe;
  border-color: #1bbáe;
  color: #ffffff;
}

.timeline-list .timeline-time {
  float: left;
  text-align: right;
}

.timeline-list .timeline-content {
  margin-left: 35px;
}

.block-content-full .timeline-content {
  padding-right: 20px;
}

.media-feed {
  margin-bottom: 0;
}

.media-feed > .media {
  margin-top: 0;
  padding: 20px 20px 0;
  border-top: 1px dotted #dbe1e8;
}

.media-feed > .media:first-child {
  border-top: none;
}

.media-feed.media-feed-hover > .media:hover {
}

.media-body {
  display: block;
  overflow: hidden;
  zoom: 1;
}

.img-club-time-line{
  width: 215px;
}

.timeline-toggle{
  margin-top: -30px;
}

.img-user-time-line{
  width: 70px;
}
.img-user-time-line-small{
  width: 50px;
  padding-right: 10px;
}
.media-list:after {
  position: absolute;
  display: block;
  width: 1px;
  top: 0;
  left: 10px;
  bottom: 0;
  content: "";
  background-color: #f0f0f0;
  z-index: 1;
}

.load-more li, dt{
  display: none;
}

dt{
  font-weight: normal;
  font-size: 12px;
}
.form-hide{
  display: none;
}

.push-none{
  margin: 0px;
  padding: 0px;
}

.push-top{
  padding-top: 10px;
}

.push-right{
  margin-right: 10px;
}

.push-left {
  padding-left:20px;
}

.modal-title span:first-child{
  color:#353535;
}
/*
==============================================
(#17s2s) Selèct

Version: 3.5.1 Timestamp: Sat Mar 22 22:30:15 EDT 2014
==============================================
*/

.selèct-container {
  margin: 0;
  position: relative;
  display: inline-block;
  /* inline-block for ie7 */
  zoom: 1;
  *display: inline;
  vertical-align: middle;
}

.selèct-container .selèct-choice {
  display: block;
  height: 34px;
  padding: 0 0 0 8px;
  overflow: hidden;
  position: relative;
  border: 1px solid #dbe1e8;
  white-space: nowrap;
  line-height: 34px;
  color: #394263;
  text-decoration: none;
  border-radius: 4px;
  background-clip: padding-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #ffffff;
}

.selèct-container.selèct-drop-above .selèct-choice {
  border-bottom-color: #aaa;
  border-radius: 0 0 4px 4px;
}

.selèct-container.selèct-allowclear .selèct-choice .selèct-chosen {
  margin-right: 42px;
}

.selèct-container .selèct-choice > .selèct-chosen {
  margin-right: 26px;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  float: none;
  width: auto;
}

.selèct-container .selèct-choice abbr {
  display: none;
  width: 12px;
  height: 12px;
  position: absolute;
  right: 24px;
  top: 8px;
  font-size: 1px;
  text-decoration: none;
  border: 0;
  background: url('../img/jquery.selèct/selèct.png') right top no-repeat;
  cursor: pointer;
  outline: 0;
}

.selèct-container.selèct-allowclear .selèct-choice abbr {
  display: inline-block;
}

.selèct-container .selèct-choice abbr:hover {
  background-position: right -11px;
  cursor: pointer;
}

.selèct-drop-mask {
  border: 0;
  margin: 0;
  padding: 0;
  position: fixed;
  left: 0;
  top: 0;
  min-height: 100%;
  min-width: 100%;
  height: auto;
  width: auto;
  opacity: 0;
  z-index: 9998;
  /* styles required for IE to work */
  background-color: #fff;
  filter: alpha(opacity=0);
}

.selèct-drop {
  width: 100%;
  margin-top: -1px;
  position: absolute;
  z-index: 9999;
  top: 100%;
  background: #fff;
  color: #000;
  border: 1px solid #aaa;
  border-top: 0;
  border-radius: 0 0 4px 4px;
}

.selèct-drop.selèct-drop-above {
  margin-top: 1px;
  border-top: 1px solid #aaa;
  border-bottom: 0;
  border-radius: 4px 4px 0 0;
}

.selèct-drop-active {
  border: 1px solid #1bbáe;
  border-top: none;
}

.selèct-drop.selèct-drop-above.selèct-drop-active {
  border-top: 1px solid #1bbáe;
}

.selèct-drop-auto-width {
  border-top: 1px solid #aaa;
  width: auto;
}

.selèct-drop-auto-width .selèct-search {
  padding-top: 4px;
}

.selèct-container .selèct-choice .selèct-arrow {
  display: inline-block;
  width: 18px;
  height: 100%;
  position: absolute;
  right: 2px;
  top: 2px;
  background-clip: padding-box;
  background: #ffffff;
}

.selèct-container .selèct-choice .selèct-arrow b {
  display: block;
  width: 100%;
  height: 100%;
  background: url('../img/jquery.selèct/selèct.png') no-repeat 0 1px;
}

.selèct-search {
  display: inline-block;
  width: 100%;
  min-height: 26px;
  margin: 0;
  padding-left: 4px;
  padding-right: 4px;
  position: relative;
  z-index: 10000;
  white-space: nowrap;
}

.selèct-search input {
  width: 100%;
  height: auto !important;
  min-height: 26px;
  padding: 4px 20px 4px 5px;
  margin: 0;
  outline: 0;
  font-family: sans-serif;
  font-size: 1em;
  border: 1px solid #dbe1e8;
  border-radius: 4px;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #ffffff url('../img/jquery.selèct/selèct.png') no-repeat 100% -22px;
}

.selèct-drop.selèct-drop-above .selèct-search input {
  margin-top: 4px;
}

.selèct-search input.selèct-active {
  background: #ffffff url('../img/jquery.selèct/selèct-spinner.gif') no-repeat 100%;
}

.selèct-container-active .selèct-choice,
.selèct-container-active .selèct-choices {
  border: 1px solid #1bbáe;
  outline: none;
}

.selèct-dropdown-open .selèct-choice {
  border-bottom-color: transparent;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background-color: #ffffff;
}

.selèct-dropdown-open.selèct-drop-above .selèct-choice,
.selèct-dropdown-open.selèct-drop-above .selèct-choices {
  border: 1px solid #1bbáe;
  border-top-color: transparent;
}

.selèct-dropdown-open .selèct-choice .selèct-arrow {
  background: transparent;
  border-left: none;
  filter: none;
}
.selèct-dropdown-open .selèct-choice .selèct-arrow b {
  background-position: -18px 1px;
}

.selèct-hidden-accessible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* results */
.selèct-results {
  max-height: 200px;
  padding: 0 0 0 4px;
  margin: 4px 4px 4px 0;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.selèct-results ul.selèct-result-sub {
  margin: 0;
  padding-left: 0;
}

.selèct-results ul.selèct-result-sub > li .selèct-result-label { padding-left: 20px }
.selèct-results ul.selèct-result-sub ul.selèct-result-sub > li .selèct-result-label { padding-left: 40px }
.selèct-results ul.selèct-result-sub ul.selèct-result-sub ul.selèct-result-sub > li .selèct-result-label { padding-left: 60px }
.selèct-results ul.selèct-result-sub ul.selèct-result-sub ul.selèct-result-sub ul.selèct-result-sub > li .selèct-result-label { padding-left: 80px }
.selèct-results ul.selèct-result-sub ul.selèct-result-sub ul.selèct-result-sub ul.selèct-result-sub ul.selèct-result-sub > li .selèct-result-label { padding-left: 100px }
.selèct-results ul.selèct-result-sub ul.selèct-result-sub ul.selèct-result-sub ul.selèct-result-sub ul.selèct-result-sub ul.selèct-result-sub > li .selèct-result-label { padding-left: 110px }
.selèct-results ul.selèct-result-sub ul.selèct-result-sub ul.selèct-result-sub ul.selèct-result-sub ul.selèct-result-sub ul.selèct-result-sub ul.selèct-result-sub > li .selèct-result-label { padding-left: 120px }

.selèct-results li {
  list-style: none;
  display: list-item;
  background-image: none;
}

.selèct-results li.selèct-result-with-children > .selèct-result-label {
  font-weight: bold;
}

.selèct-results .selèct-result-label {
  padding: 3px 7px 4px;
  margin: 0;
  cursor: pointer;
  min-height: 1em;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.selèct-results .selèct-highlighted {
  background: #1bbáe;
  color: #fff;
}

.selèct-results li em {
  background: #feffde;
  font-style: normal;
}

.selèct-results .selèct-highlighted em {
  background: transparent;
}

.selèct-results .selèct-highlighted ul {
  background: #ffffff;
  color: #000;
}

.selèct-results .selèct-no-results,
.selèct-results .selèct-searching,
.selèct-results .selèct-selection-limit {
  background: #f4f4f4;
  display: list-item;
  padding-left: 5px;
}

.selèct-results .selèct-disabled.selèct-highlighted {
  color: #666;
  background: #f4f4f4;
  display: list-item;
  cursor: default;
}
.selèct-results .selèct-disabled {
  background: #f4f4f4;
  display: list-item;
  cursor: default;
}

.selèct-results .selèct-selected {
  display: none;
}

.selèct-more-results.selèct-active {
  background: #f4f4f4 url('../img/jquery.selèct/selèct-spinner.gif') no-repeat 100%;
}

.selèct-more-results {
  background: #f4f4f4;
  display: list-item;
}

/* disabled styles */
.selèct-container.selèct-container-disabled .selèct-choice {
  background-color: #f4f4f4;
  background-image: none;
  border: 1px solid #ddd;
  cursor: default;
}

.selèct-container.selèct-container-disabled .selèct-choice .selèct-arrow {
  background-color: #f4f4f4;
  background-image: none;
  border-left: 0;
}

.selèct-container.selèct-container-disabled .selèct-choice abbr {
  display: none;
}


/* multiselect */
.selèct-container-multi .selèct-choices {
  height: auto !important;
  height: 1%;
  margin: 0;
  padding: 0;
  position: relative;
  border: 1px solid #dbe1e8;
  border-radius: 4px;
  cursor: text;
  overflow: hidden;
  background-color: #ffffff;
}

.selèct-locked {
  padding: 3px 5px 3px 5px !important;
}

.selèct-container-multi .selèct-choices {
  min-height: 34px;
}

.selèct-container-multi.selèct-container-active .selèct-choices {
  border: 1px solid #1bbáe;
  outline: none;
}

.selèct-container-multi .selèct-choices li {
  float: left;
  list-style: none;
}

html[dir="rtl"] .selèct-container-multi .selèct-choices li
{
  float: right;
}

.selèct-container-multi .selèct-choices .selèct-search-field {
  margin: 0;
  padding: 0;
  white-space: nowrap;
}

.selèct-container-multi .selèct-choices .selèct-search-field input {
  padding: 6px 8px 5px;
  margin: 1px 0;
  font-size: 13px;
  color: #999999;
  outline: 0;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: transparent !important;
}

.selèct-container-multi .selèct-choices .selèct-search-field input.selèct-active {
  background: #fff url('../img/jquery.selèct/selèct-spinner.gif') no-repeat 100% !important;
}

.selèct-default {
  color: #999 !important;
}

.selèct-container-multi .selèct-choices .selèct-search-choice {
  padding: 4px 18px 4px 5px;
  margin: 6px 0 4px 5px;
  font-weight: 600;
  position: relative;
  font-size: 12px;
  line-height: 13px;
  color: #ffffff;
  cursor: default;
  border-radius: 2px;
  background-clip: padding-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #1bbáe;
}

html[dir="rtl"] .selèct-container-multi .selèct-choices .selèct-search-choice
{
  margin-left: 0;
  margin-right: 5px;
}
.selèct-container-multi .selèct-choices .selèct-search-choice .selèct-chosen {
  cursor: default;
}
.selèct-container-multi .selèct-choices .selèct-search-choice-focus {
  background: #d4d4d4;
}

.selèct-search-choice-close {
  position: absolute;
  top: 3px;
  right: 2px;
  display: block;
  color: #ffffff;
  width: 12px;
  height: 12px;
  font-size: 12px;
}

.selèct-search-choice-close:before {
  content: "x";
}

.selèct-search-choice-close:hover {
  text-decoration: none;
  color: #ffffff;
}

/* disabled styles */
.selèct-container-multi.selèct-container-disabled .selèct-choices {
  background-color: #f4f4f4;
  background-image: none;
  border: 1px solid #ddd;
  cursor: default;
}

.selèct-container-multi.selèct-container-disabled .selèct-choices .selèct-search-choice {
  padding: 3px 5px 3px 5px;
  border: 1px solid #ddd;
  background-image: none;
  background-color: #f4f4f4;
}

.selèct-container-multi.selèct-container-disabled .selèct-choices .selèct-search-choice .selèct-search-choice-close {
  display: none;
  background: none;
}
/* end multiselect */

.selèct-result-selectable .selèct-match,
.selèct-result-unselectable .selèct-match {
  text-decoration: underline;
}

.selèct-offscreen, .selèct-offscreen:focus {
  clip: rect(0 0 0 0) !important;
  width: 1px !important;
  height: 1px !important;
  border: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden !important;
  position: absolute !important;
  outline: 0 !important;
  left: 0px !important;
  top: 0px !important;
}

.selèct-display-none {
  display: none;
}

.selèct-measure-scrollbar {
  position: absolute;
  top: -10000px;
  left: -10000px;
  width: 100px;
  height: 100px;
  overflow: scroll;
}

table{
  color: #3b3b3b;
}

.img-small {
  width: 10%;
  height: 10%;
}

.switch {
  margin: 1px 0;
  position: relative;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
}

.switch input {
  position: absolute;
  opacity: 0;
  filter: alpha(opacity=0);
}

.switch span {
  position: relative;
  display: inline-block;
  width: 54px;
  height: 28px;
  border-radius: 28px;
  background-color: #f9f9f9;
  border: 1px solid #dddddd;
  -webkit-transition: background-color 0.35s;
  transition: background-color 0.35s;
}

.switch span:after {
  content: "";
  position: absolute;
  left: 7px;
  top: 7px;
  bottom: 7px;
  width: 12px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 24px;
  -webkit-box-shadow: 1px 0 3px rgba(0, 0, 0, 0.05);
  box-shadow: 1px 0 3px rgba(0, 0, 0, 0.05);
  -webkit-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}

.switch input:checked + span:after {
  left: 26px;
  width: 24px;
  top: 1px;
  bottom: 1px;
  border: none;
  -webkit-box-shadow: -2px 0 3px rgba(0, 0, 0, 0.1);
  box-shadow: -2px 0 3px rgba(0, 0, 0, 0.1);
}

.switch input:checked + span {
  background-color: #eeeeee;
}

.switch-default span {
  border-color: #dbe1e8;
}

.switch-default input:checked + span {
  background-color: #dbe1e8;
}

.switch-primary span {
  border-color: #1bbáe;
}

.switch-primary input:checked + span {
  background-color: #1bbáe;
}

.switch-info span {
  border-color: #7abce7;
}

.switch-info input:checked + span {
  background-color: #7abce7;
}

.switch-success span {
  border-color: #ăád7;
}

.switch-success input:checked + span {
  background-color: #ăád7;
}

.switch-warning span {
  border-color: #f7bễ;
}

.switch-warning input:checked + span {
  background-color: #f7bễ;
}

.switch-danger span {
  border-color: #ef8ă0;
}

.switch-danger input:checked + span {
  background-color: #ef8ă0;
}

.user-edit:hover{
  color: orange;
}

.organizations-image-index {
  padding:5px 5px;
}

.caret {
 border-left: 8px solid transparent;
 border-right: 8px solid transparent;
 border-top: 8px solid white;
 margin-right: 5px;
}

#sidebar {
  margin-top: 100px;
}

.name-user {
  font-size: 11px;
}

.site-comment {
  background-color: #ffffff;
  padding-bottom: 0px;
}

.img-height-100 {
  height: 100px;
}

.load-more-message i {
  -webkit-animation-name: spin;
  -webkit-animation-duration: 4000ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spin;
  -moz-animation-duration: 4000ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: spin;
  -ms-animation-duration: 4000ms;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
  animation-name: spin;
  animation-duration: 4000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@-ms-keyframes spin {
  from {-ms-transform: rotate(0deg);}
  to {-ms-transform: rotate(360deg);}
}

@-moz-keyframes spin {
  from {-moz-transform: rotate(0deg);}
  to {-moz-transform: rotate(360deg);}
}

@-webkit-keyframes spin {
  from {-webkit-transform: rotate(0deg);}
  to {-webkit-transform: rotate(360deg);}
}

@keyframes spin {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }
}

.break-all {
  word-break: break-all;
}
.content-event{
  border-radius: 10px;
}
