/*----- Notification--------*/
.custom_notifications{
  .notifyBody{
    .author-thumb{
      float: left;
      margin-right: 10px;
    }
    .notification-event{
      width: auto;
    }
  }
}

/*------------Responsive--------------*/
.header-responsive{
  .tab-content{
    .notification-list{
      li{
        .author-thumb{
          max-width: 50px;
          img{
            width: 100%;
          }
        }
      }
    }
  }
}

.fixed-sidebar{
  .logo{
    img{
      max-width: 50px;
    }
  }
  .mCustomScrollbar{
    overflow-y: scroll;
  }
}

/*-------------Fix media---------------*/
        //-------menu-----------//
@media (max-width: 1180px){
  .menu_sign_in ul li a{
    padding: 10px 15px;
  }
}
@media (max-width: 1040px){
  .menu_sign_in ul li a{
    padding: 10px 10px;
  }
}

@media (max-width: 991px){
  .header, .fixed-sidebar{
    display: none;
  }
  .header-responsive, .fixed-sidebar.fixed-sidebar-responsive{
    display: block;
  }
}

/*--------------Organization detail--------------*/

.img_small{
  img{
    max-width: 60px;
    width: 100%;
    height: auto;
  }
}
.w-search.custom_medium{
  width: auto;
}
.select_custom.form-control{
  color: #888da8;
  background-color: transparent;
  padding:5px;
  border: 1px solid #e6ecf5;
  border-radius: 0.25rem;
  margin: 0 0 3px 0;
  font-size: 13px;
}
.filter_custom{
  .slider-container{
    margin-left: 0;
  }
}

.custom_flex{
  display: flex;
  align-items: flex-end;
  justify-content: center;
  .item_club{
    width: 100%;
  }
}

.tab_detail_club{
  .ui-block{
    .content_tab{
      padding: 30px 20px;
    }
  }
}
.full_image{
  width: 100%;
  margin-bottom: 20px;
}
.private-event{
  padding: 15px;
}
