header.header-scroll {
  top: 0;
}
header.header-scroll:hover {
  background: rgba(0, 0, 0, 0.8);
}
/* Logo */

.account_menu a.site-logo {
  display: block;
}
.account_menu header nav {
  float: right;
}
.account_menu .site-nav.site-nav-visible {
  right: 0;
}
.account_menu .site-nav a {
  display: block;
  font-size: 13px;
  color: #ffffff;
  font-weight: 600;
  padding: 0 10px;
  margin: 2px 5px;
  height: 34px;
  line-height: 34px;
  border-radius: 3px;
  text-transform: uppercase;
}

.account_menu .site-nav a.active,
.account_menu .site-nav a.active:hover,
.account_menu .site-nav li.active > a {
  color: #ffffff;
  background: url('../img/template/ie8_opacity_dark_40.png');
  background: rgba(0, 0, 0, 0.4);
}

/* Submenu */

.account_menu .site-nav ul {
  list-style: none;
  margin: 0;
  padding: 0 0 0 10px;
}
.account_menu .site-nav ul a {
  color: #dddddd;
  text-transform: none;
  height: auto;
  line-height: normal;
  padding-top: 5px;
  padding-bottom: 5px;
}

.logo_sigin{
  float: left;
  img{
    max-width: 100px;
  }
}
.menu_sign_in{
  float: left;
  display: block;
  ul{
    font-size: 0;
    margin-top: 15px;
    margin-left: 10px;
    li{
      display: inline-block;
      font-size: 14px;
      a{
        display: block;
        padding: 10px 20px;
        transition: all .3s ease;
        font-weight: 700;
        color: $white-color;
        &:hover{
          color: $primary-color;
        }
      }
    }
  }
}
.author-thumb{
  .avatar{
    max-width: 30px;
  }
}

header{
  .author-page{
    margin-left: 30px;
  }
}

.menu_language{
  .more-dropdown{
    width: 100%;
    min-width: 130px;
    ul{
      padding: 10px 15px;
      li{
        padding: 0;
        a{
          display: inline-block;
        }
      }
    }
  }

  .vi {
    background-image: image-url("flag-full-icons.png");
    background-position: 38px 70px;
    height: 20px;
    width: 40px;
    margin: 0;
    background-size: 600px;
  }

  .en {
    background-image: image-url("flag-full-icons.png");
    background-position: 0px 70px;
    height: 20px;
    width: 40px;
    margin: 0;
    background-size: 600px;
  }

  .jp {
    background-image: image-url("flag-full-icons.png");
    background-position: 0px 478px;
    height: 20px;
    width: 40px;
    margin: 0;
    background-size: 600px;
  }
}
