input[type="checkbox"] {
  width: 32px;
  height: 20px;
  display: inline;
  vertical-align: middle;
  margin-bottom: 6px;
}

.button-login {
  background: #1bbae1;
  float: right;
  cursor: pointer;
  border-radius: 5px;
  font-family: 'ff-tisa-web-pro', serif;
  font-weight: 400;
  font-style: italic;
  margin-top: 10px !important;
  margin-bottom: 5px !important;
}

input[type="submit"]:hover {
  border: 1px solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388;
}

.title-login {
  font-family: 'ff-tisa-web-pro', serif;
  font-weight: 400;
  font-size: 30px;
}

.interactive-login {
  color: #0e5e71;
}

.hr-center-line {
  height: 1px;
  background-color: #1abc9c;
  width: 70%;
  display: block;
}

.modal-login-user {
  margin-top: 100px;
  width: 350px;
}

.forget-password {
  margin-top: 60px;
  margin-left: 80px;
}

.container-modal-login {
  margin-bottom: 30px !important;
}

.background-form-actions {
  background-color: initial !important;
}

.custom-button-login {
  height: 32px;
  text-align: left;
}

.modal-signup-user {
  width: 500px;
  margin-top: 100px;
}

.modal-signup-user-form {
  border: aliceblue;
}

.button-close-sign-up {
  margin-right: 15px;
}

.background-image-form-div {
  background-image: image-url('wallpaper.jpg');
}

.background-color-form-div {
  background-color: #e0e0e0;
}
