<div id="page-content">
  <ul class="breadcrumb breadcrumb-top">
    <li><%= t "show_user" %></li>
    <li><%= link_to @user.full_name, admin_users_path %></a></li>
  </ul>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <div class="block full">
        <div class="block-title">
          <h2><strong><%= link_to @user.full_name, t("do_nothing") %></strong></h2>
        </div>
        <div class="block-content">
          <%= render "user_profile" %>
        </div>
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>
