<div class="modal-dialog ui-block window-popup event-private-public private-event custom_budget_popup">
  <a href="#" class="close icon-close" data-dismiss="modal" aria-label="Close">
    <svg class="olymp-close-icon"><use xlink:href="<%= url_to_asset("icons/icons.svg#olymp-close-icon") %>"></use></svg>
  </a>
  <div class="ui-block">
    <div class="ui-block-title ui-block-title-small">
      <h6 class="title"><%= t("history_budget") %></h6>
    </div>
    <%= render partial: "list_budget", locals: {events: @support.history_budget} %>
  </div>
</div>
