<div class="col-md-3"></div>
<div class="col-md-6">
  <div class="modal-dialog edit-club">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h2 class="modal-title"><%= t "detail" %></h2>
      </div>
      <div class="modal-body">
        <p class="text-justify"><%= @club.local.html_safe %></p>
      </div>
    </div>
  </div>
</div>
<div class="col-md-3"></div>
